.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.header{
    margin-top:10px;
    flex-basis: 100%;
    text-align: center;
}
.header p{
    display:inline-block;
    font-size:10px;
    padding:10px;
}
.active{
    color:red;
}
.content{
    flex-basis: 100%;
    padding:20px 3rem;
}