.inlineButton button{
    background-color:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}
.inlineButton button:hover{
    color:red;
}
@media(max-width:600px){
    .inlineButton{
        text-align: center;
        flex-basis: 100%;
    }
}